asttokens
certifi
charset-normalizer
colorama
comm
contourpy
cycler
decorator
dill
exceptiongroup
executing
filelock
filterpy
fonttools
fsspec
idna
importlib-resources
ipython
ipywidgets
jedi
jinja2
jupyterlab-widgets
kiwisolver
markupsafe
matplotlib
matplotlib-inline
mpmath
networkx
numpy
opencv-python
packaging
pandas
parso
pillow
pip
prompt-toolkit
psutil
pure-eval
py-cpuinfo
pygments
pyparsing
python-dateutil
pytube
pytz
pyyaml
requests
scipy
seaborn
setuptools
six
stack-data
sympy
thop
torch
torchaudio
torchvision
tqdm
traitlets
typing-extensions
tzdata
ultralytics
urllib3
vc
# vs2015_runtime
wcwidth
wheel
widgetsnbextension
zipp
